<footer class="main-footer">
  <div class="main-footer__cols">
    <div class="main-footer__cols-left col">
      <h3 class="main-footer--heading">
        Contact US
      </h3>
      <address>
        Address:
        662 King St W #001
        Toronto, ON M5V 1M7
      </address>
      <a href="tel:1(888)-818-8890">tel: 1(888) 818-8890</a>
      <a href="mailto:info@moontheme.net">Email: hello@lighthouselabs.ca</a>
    </div>

    <div class="main-footer__cols-right col">
      <h3 class="main-footer--heading">
        Opening Hours
      </h3>
      <p>
        mon - tues : 6.00 am - 10 pm
      </p>
      <p>
        wed - thu : 8.00 am - 6 pm
      </p>
      <p>
        fri: 3.00 pm - 8 pm
      </p>
      <p>
        sun: closed
      </p>
    </div>
  </div>
  <div class="main-footer__bottom">
    <p>Copyright &copy; 2018</p>
  </div>
</footer>
<script src="/vendor/jquery-3.0.0.js"></script>
<script src="/scripts/app.js"></script>
<script src="/dist/card.js"></script>
