<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="ie=edge" http-equiv="X-UA-Compatible">
	<title>Main Page</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Aguafina+Script|Great+Vibes|Lato:400,700,900|Playfair+Display:400,700,900"
	 rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.min.css">
</head>