<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
  <main class="cart">
    <section class="wrapper">
      <h1>Cart</h1>
      <li class="menu__item">
        <a href='#' class="myLink">
          <i class='fa fa-times-circle'></i>
        </a>
        <div class="menu__item__heading">
          <h2 class="menu__item-title">High Priest Burger</h2>
          <span class="menu__item-price">
            <span>$10</span>
            <sup>.49</sup>
          </span>
        </div>
        <p class="menu__item-description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id perferendis totam, vel ab iusto non animi
        </p>
      </li>
      <div class="total-price">
        <h3>Total Price: 0</h3>
      </div>
    </section>
  </main>
  <% include partials/_footer %>
</body>

</html>