<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
	<!-- MAIN HEADER STARTS HERE -->
	<header class="main-header">
		<!-- NAVIGATION STARTS HERE -->
		<nav class="nav">
			<ul class="nav__menu">
				<li class="nav__menu__item">
					<h2 class="nav__menu__item__logo">Amedus</h2>
				</li>
				<li class="nav__menu__item">
					<a href="/checkout" class="nav__menu__item__link">
						<div class=cartitem>
							<div class="cartcount">0</div>
							<i class="fas fa-shopping-cart"></i>
						</div>
					</a>
				</li>
			</ul>
		</nav>
		<!-- HEADING STARTS HERE -->
		<div class="main-header__center">
			<div class="main-header__center__heading">
				<h4>The best Restaurant in Toronto</h4>
				<h1>Welcome to Amadeus</h1>
			</div>
			<div class="main-header__center__order">
				<img src="assets/hr-header.png" alt="" class="center__hr">
				<a class="btn btn--order" href="#items-dispaly">Order Now</a>
			</div>
		</div>
		<!-- HEADING ENDS HERE -->

		<!-- BOTTOM-HEADER STARTS HERE -->
		<div class="main-header__bottom">
			<address class="main-header__bottom__address">
				662 King St W #001
				Toronto, ON M5V 1M7
			</address>
			<a href="tel:+088 1990 8668" class="main-header__bottom__phone">HOTLINE:1(888) 818-8890</a>
		</div>
		<!-- BOTTOM-HEADER ENDS HERE -->
		<!-- HEADER ENDS HERE -->
	</header>
	<!-- SIDE MAIN DESSERTS -->
	<section class="menu" id="items-dispaly">
		<div class="menu__selection">
			<ul class="menu__selection__items">
				<li class="menu__selection__items__item">
					<a href="#popular" class="clickable">MOST POPULAR</a>
				</li>
				<li class="menu__selection__items__item">
					<a href="#main" class="clickable">MAIN</a>
				</li>
				<li class="menu__selection__items__item">
					<a href="#side" class="clickable">SIDE</a>
				</li>
				<li class="menu__selection__items__item">
					<a href="#desserts" class="clickable">DESSERTS</a>
				</li>
			</ul>
		</div>
		<!-- MOST POPULAR DISHES -->
		<div class="menu-selections">
			<div class="menu__group" data-columns="popular" id="popular">
				<h4 class="menu__group-title">MOST POPULAR</h4>
				<ul class="menu__items">
				</ul>
			</div>
			<!-- MAIN DISHES -->
			<div class="menu__group" data-columns="main" id="main">
				<h4 class="menu__group-title">MAIN</h4>
				<ul class="menu__items">
				</ul>
			</div>
			<!-- SIDE DISHES -->
			<div class="menu__group" data-columns="side" id="side">
				<h4 class="menu__group-title">SIDE</h4>
				<ul class="menu__items">
				</ul>
			</div>
			<!-- DESSERTS -->
			<div class="menu__group" data-columns="desserts" id="desserts">
				<h4 class="menu__group-title">DESSERTS</h4>
				<ul class="menu__items">
				</ul>
			</div>
		</div>
	</section>

	<% include partials/_footer %>
</body>

</html>