<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
	<!-- MAIN HEADER STARTS HERE -->
	<header class="main-header">
		<!-- NAVIGATION STARTS HERE -->
		<nav class="nav">
			<ul class="nav__menu">
				<li class="nav__menu__item">
					<h2 class="nav__menu__item__logo">Amedus</h2>
				</li>
				<li class="nav__menu__item">
					<a href="/checkout" class="nav__menu__item__link">
						<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
			</ul>
		</nav>
		<!-- NAVIGATION ENDS HERE -->
		<!-- HEADING STARTS HERE -->
		<!-- HEADING ENDS HERE -->
		<!-- BOTTOM-HEADER STARTS HERE -->
		<!-- BOTTOM-HEADER ENDS HERE -->
		<!-- HEADER ENDS HERE -->
	</header>
	<% include partials/_footer %>
</body>

</html>