<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
	<!-- MAIN HEADER STARTS HERE -->
	<header class="main-header">
		<!-- NAVIGATION STARTS HERE -->
		<nav class="nav">
			<ul class="nav__menu">
				<li class="nav__menu__item">
					<h2 class="nav__menu__item__logo">Amedus</h2>
				</li>
				<li class="nav__menu__item">
					<a href="/checkout" class="nav__menu__item__link">
						<i class="fas fa-shopping-cart"></i>
					</a>
				</li>
			</ul>
		</nav>
      <div class="inner">
    <form action="/order/:order-id/item/1" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/2" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/3" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/4" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/5" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/6" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/7" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/8" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/9" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/10" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/11" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/12" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/13" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/14" method="post">
      <input type="submit">
    </form>
    <form action="/order/:order-id/item/15" method="post">
      <input type="submit">
    </form>
  </div>
		<!-- NAVIGATION ENDS HERE -->
		<!-- HEADING STARTS HERE -->
		<!-- HEADING ENDS HERE -->
		<!-- BOTTOM-HEADER STARTS HERE -->
		<!-- BOTTOM-HEADER ENDS HERE -->
		<!-- HEADER ENDS HERE -->
	</header>
	<% include partials/_footer %>
</body>

</html>
