<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <div class="content">
    <div class="inner">
      <form action="/login" method="POST">
        <h2>Login</h2>
        <label for="email">Email Address</label>
        <input type="email" name="email" />
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <input class="button" type="submit" value="Log In →"/>
      </form>
    </div>
  </div>
  <script src="vendor/jquery-3.0.0.js">
	</script> 
	<script src="/scripts/app.js">
	</script>
</body>
</html>