<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>
<body>
  <div class="content">
    <div class="inner">
      <form action="/login" method="POST">
        <h2>Login</h2>
        <label for="email">Email Address</label>
        <input type="email" name="email" />
        <label for="password">Password</label>
        <input type="password" name="password"/>
        <input class="button" type="submit" value="Log In →"/>
      </form>
    </div>
  </div>
  <% include partials/_footer %>
</body>
</html>