<!DOCTYPE html>
<html lang="en">
<% include partials/_head %>

<body>
  <div class="content">
    <div class="inner">
      <form action="/register" class="form" method="post">
        <h2>Register</h2>
        <label for="name">Name</label>
        <input name="name" type="text">
        <label for="email">Email</label>
        <input name="email" type="email">
        <label for="password">Password</label>
        <input name="password" type="password">
        <label for="password-confirm">Confirm Password</label>
        <input name="password-confirm" type="password">
        <input class="button" type="submit" value="Register →">
      </form>
    </div>
  </div>
  <% include partials/_footer %>
</body>
</html>