
<html>
<body>

          <h2>Enter your order</h2>
            <form action="/order/" method="POST">
            <input type="text" name="usrtel" placeholder="mmm...good food"><br>
            <input type="submit">
          </form>

<a href="/cart">View Cart</a>

</body>
</html>

