.cart {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 50px;
  margin-top: 10px;
  padding-bottom: 80px;
  h1 {
    color: $color__black;
  }
  .menu__item {
    padding: 30px;
    width: 500px;
    position: relative;

    .qtyButton {
      background: transparent;
      border: none;
      color: $color__black;
    }

    .myLink {
      position: absolute;
      top: 0;
      right: 13px;
      transition: color 0.3s;
      &:hover {
        color: red;
      }
    }
  }
}