.form-wrapper {
  border: 1px solid $color__primary;
  width: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-height: 350px;
  justify-content: space-between;
  text-align: center;

  input, textarea {
    width:100%;
    padding:10px;
    border: 1px solid $grey;
    &.input {
      &--error {
        border-color: red;
      }
    }
  }

  label {
    padding: 10px 0;
    display: block;
  }

  .form {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 2rem;
    & + .form {
      margin-top: 4rem;
    }
    h2 {
      margin: 0;
      font-size: 2rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $grey;
    }
  }
}