body {
  font-size: $base__font-size;
  font-family: $font__family-body;
}

h1 {
  @include text(40,$weight:700);
  @include spacing(5px);
  margin: 0;
  text-transform: uppercase;
}

h2 {
  @include text(25,$color:$color__secondary,$weight:900);
  @include spacing(5px);
  text-transform: uppercase;
}

h4 {
  @include text(20,$color:$color__primary,$family:$font__family-aguafina);
  @include spacing(1.5px);
}

p {
  @include text(15,1.87,$color__paragraphs);
}

a {
  @include fontSize(14);
  @include spacing(1.2px);
  text-transform: uppercase;
  text-decoration: none;
}