body {
  font-size: 1.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

html {
  font-size:62.5%;
}

a {
  text-decoration: none;
  color: $black;
}

p {
  line-height: 2;
  font-size: 1.6rem;
}