// COLORS
$color__primary: #d9cb94;
$color__secondary: #212121;
$color__secondary--light-blue: #2e4778;
$color__secondary--light:#f1efe7;
$color__paragraphs:#696969;
$color__white: #fff;
$color__black: #000;


// FONTS-STYLES
$base__font-size: 1.5rem;
$base__line: 1.6;
$base__weight: 400;

// FONTS
$font__family-body: 'Lato','Playfair Display','Aguafina Script',cursive,'Great Vibes',cursive,sans-serif;
$font__family-lato:'Lato',sans-serif;
$font__family-playfair:'Playfair Display', serif;
$font__family-aguafina:'Aguafina Script', cursive;
$font__family-greatVibes:'Great Vibes', cursive;

$black: #303030;
$width: 800px;
$purple: #262161;
$yellow: #FFC40E;
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);