<html>
<head>
  <title>Test page for Twilio inserts</title>
</head>
<body>
This is where it will happen.

    <main class="container">
        <section>
          <h2>Enter your phone number</h2>
            <form action="/order/" method="POST">
            <input type="tel" name="usrtel" placeholder="xxx-xxx-xxxx"><br>
            <input type="hidden" name="orderid" value="orderidgood">
            <input type="submit">
            <span id="validnumber"></span>
          </form>
        </section>
    </main>
</body>
</html>
